FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=YOUR_SUPER_SECRET_FLASK_KEY
JWT_SECRET_KEY=YOUR_SUPER_SECRET_JWT_KEY
DATABASE_URL=mysql+pymysql://admin:password123@railway-mysql-host.com:3306/smart_traffic
